<div>
    <div class="ui_search  active" id="search_field">
        <form id="search_form" class="search_form is_tag_search" role="search" novalidate="">
            <input type="hidden" name="form_key" value="UkJfYgVcG7wGZ5qKhXh2sniDrk">
            <input type="hidden" name="scope" id="search_scope" value="all_of_tumblr">
            <div class="search_form_row ">
                <div class="search_form_field">
                    <input data-ng-keyup="$event.keyCode == 13 && searchInputController.enterInput(searchInputController.query)" tabindex="1" type="text" placeholder="Search for tags or blogs..." value="" class="search_query popover_button" autocomplete="off" required="required" data-ng-model="searchInputController.query" data-ng-change="searchInputController.searchQuery()"> </div>
                <div class="search-tags">
                <p class="search-tags-item" data-ng-repeat="tag in searchInputController.currentTags track by $index"><span>{{tag}}</span><i class="icon_close" data-ng-click="searchInputController.removeTag(tag)"></i></p>
                    </div>
                <section class="search-controls-wrapper" data-ng-controller="SearchControlsController as searchControlsController">
        <data-search-controls-component></data-search-controls-component>
        </section>
            </div>
        </form>
    </div> 
    <div id="popover_search" data-ng-if="searchInputController.displayResults && searchInputController.query" class="popover popover_menu popover_gradient search_popover" style="top: 0px; left: 70px;">
        <div class="popover_inner">
            <div class="tx-scroll">
                <div id="search_results_container" class="search_results_container popover_scroll">
                    <div class="scrollable_container">
                        <div class="tag search_results_section" data-ng-if="searchInputController.tagsResults.facetHits.length > 0">
                            <h3 class="search_subheading">Search</h3>
                            <div class="popover_menu_item" data-ng-repeat="result in searchInputController.tagsResults.facetHits | limitTo:4 track by $index">
                                <div class="result  has_thumb"><a class="result_link search_typeahead" id="result_link_design" tabindex="1" data-tag-result="design" data-ng-click="searchInputController.updateSearch(result.value)"><span class="hide_overflow search-result-tag-container"><span class="search-result-tag-item" data-ng-repeat="tag in searchInputController.currentTags track by $index">{{tag}} +</span><span class="result_title" data-ng-bind-html="searchInputController.renderHtml(result.highlighted)"></span></span></a></div>
                            </div>
                        </div>
                        <div class="tag search_results_section" data-ng-if="searchInputController.tagsResults.facetHits.length === 0">
                            <h3 class="search_subheading">Search</h3>
                            <div class="popover_menu_item">
                                <div class="result  has_thumb"><a class="result_link search_typeahead" id="result_link_design" tabindex="1" data-tag-result="design" data-ng-click="searchInputController.updateSearch(searchInputController.query)"><span class="hide_overflow search-result-tag-container"><span class="search-result-tag-item" data-ng-repeat="tag in searchInputController.currentTags track by $index">{{tag}} +</span><span class="result_title">{{searchInputController.query}}</span></span></a></div>
                            </div>
                        </div>
                        <div class="blog search_results_section"  data-ng-if="searchInputController.blogResults.facetHits.length > 0">
                            <h3 class="search_subheading">Blogs</h3>
                            <div class="popover_menu_item" data-ng-repeat="result in searchInputController.blogResults.facetHits | limitTo:4 track by $index">
                                <div class="result  has_thumb is_followed"><a class="result_link" data-ng-href="{{'http://' + result.value + '.tumblr.com'}}" id="result_link_andreirobu" tabindex="1" data-tumblelog-name="andreirobu" data-peepr="{&quot;tumblelog&quot;:&quot;andreirobu&quot;}"><span class="hide_overflow"><span class="result_title" data-ng-bind-html="searchInputController.renderHtml(result.highlighted)"></span><span class="result_thumb thumb"><span class="blog-name-letter" data-ng-bind="searchInputController._searchStore.getFirstLetter(result.value)"></span></span><small class="result_sub_title" data-ng-bind-html="searchInputController.renderHtml(result.highlighted)"></small><small class="result_sub_title">.tumblr.com</small></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>