// ------------- OVERRIDES ------------- //

/* Here be !importants */

.discover .l-container.loading-content .discover-content,
.discover .l-container.loading-content .discovery-hero {
    opacity: 1!important;
    padding-top: 7px;
    margin-top: 0;
}

.discover-controls-wrapper {
    display: none;
}

.discover .l-container.loading-content {
    pointer-events: auto!important;
}

.logged-out-header .right {
    display: none;
}

.result_title em {
    text-decoration: underline;
}

.search_results_container {
    max-height: calc(100vh - 80px);
    overflow: auto;
}

.popover.search_popover .popover_menu_item small {
    display: inline-block;
    em {
        text-decoration: underline;
    }
}

.search_popover {
    z-index: 1000;
    max-width: 540px;
}

.post-info-tumblelog a em,
.post_body em,
.post_tag em {
    background-color: rgba(181, 213, 233, .3) !important;
    font-style: normal !important;
    padding: 2px 1px;
    margin: -2px -1px;
}

.posts-holder {
    .grid {
        &-item {
            width: calc(25% - 15px);
        }
    }
    .tags-and-tumblelogs {
        width: calc(25% - 15px)!important;
    }
}

.post_media img {
    max-width: 100%;
    height: auto;
}

.search_form_row {
    height: 46px;
    display: flex;
    align-items: center;
    .search_form_field {
        flex-basis: 540px;
        min-width: 540px;
    }
}

.search-tags {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-bottom: 4px;
    margin-top: 3px;
    &-item {
        margin-top: 10px;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 3px;
        padding-left: 10px;
        color: hsla(0, 0%, 100%, .95);
        font-weight: 700;
        overflow: hidden;
        margin-right: 10px;
        text-transform: uppercase;
        font-size: 12px;
        > span,
        > i {
            line-height: 0;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        > i {
            margin-left: 7px;
            padding-right: 6px;
            padding-left: 4px;
            border-left: 1px solid rgba(255, 255, 255, .3);
            display: inline-block;
            background-color: rgba(255, 255, 255, .2);
            cursor: pointer;
            transition: .2s;
            &:hover {
                background-color: rgba(255, 255, 255, .3);
            }
        }
        &:nth-child(6n+1) {
            background-color: #56bc8a;
        }
        &:nth-child(6n+2) {
            background-color: #d95e40;
        }
        &:nth-child(6n+3) {
            background-color: #f2992e;
        }
        &:nth-child(6n+4) {
            background-color: #529ecc;
        }
        &:nth-child(6n+5) {
            background-color: #748089;
        }
        &:nth-child(6n+6) {
            background-color: #a77dc2;
        }
    }
}

.discover-search-terms {
    min-height: 205px;
}

.discover-search-term-item {
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}

.discover .controls_section.follow_list {
    min-height: 277px!important;
}

.follow_list_item_blog .has_follow_button {
    margin-top: 7px;
}

.identity .controls_section.user_list .avatar,
.discover .post_brick.reblog_header .post_header .tumblelog_avatar,
.popover_menu_item .thumb {
    background-color: rgb(84, 98, 117);
    background-image: none!important;
}

.discover .post_brick.reblog_header .post_header .tumblelog_avatar {
    position: relative;
    .blog-name-letter {
        color: rgba(255, 255, 255, .8);
    }
}

.left_controls {
    position: relative;
    top: 20px;
    left: -80px;
}

.popover_menu_item .thumb .blog-name-letter {
    color: rgba(255, 255, 255, .8);
}

.blog-name-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.search_controls {
    padding: 0!important;
}

.control_text {
    color: hsla(0,0%,100%,.6);
    font-weight: 700;
}

.filter_popover {
    visibility: hidden;
}

.filter_popover.show {
    display: block!important;
    visibility: visible;
}

.filter_popover_arrow {
    color: hsla(0,0%,100%,.6);
    padding-right: 2px;
}

.icon {
    padding-right: 10px;
}

.search_control_items .menu_item:hover {
    background: #e4f0f7;
    color: #36465d;
}

.post_type_filter_menu {
    width: 150px;
}

.post_control {
    width: 120px;
}

.menu_item.post_type {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}

.search_control_button {
    text-transform: capitalize!important;
    color: white;
}

.search_control_items {
    display:flex;
}

.search_control_items .menu_inner {
    left: 0;
    min-width: 150px;
    padding: 4px 0;
    color: #444;
}

.filter_popover_menu {
    width: 140px;
    padding: 100px 20px 0px 20px;
}

.filter_popover .menu_inner {
    color: #444;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 9px rgba(0,0,0,.439216);
    z-index: 20;
}

.menu_item {
    line-height: 2;
    padding: 2px 2px 0px 15px;  
}

.search-result-tag {
    &-container {
        display: flex!important;
    }
    &-item {
        color: #9c9c9c;
        margin-right: 4px;
    }
}

.ui_search {
    overflow: visible!important;
}

.search-controls-wrapper {
    min-width: 315px;
    flex-basis: 315px;
    margin-top: 15px;
}

.l-header-container--refresh .l-header {
    // min-height: 54px;
    // height: auto;
    height: 60px;
}

.logo {
    // height: 54px!important;
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    padding: 10px 20px 10px 20px;
}

.ui_search {
    margin-left: 67px;
}

.discover .tags-and-tumblelogs .discover-tags {
    padding-bottom: 10px;
}

.post_controls_inner {
    cursor: default;
    pointer-events: none;
}

.post-img-container {
    background-color: #efefef;
}

.discover .post_brick.reblog_header .post-info-post-tumblelog .follow_link {
    margin-right: 7px;
}

.discover .post_brick.reblog_header .tumblelog_info {
    float: none;
        display: flex;
}

.discover .post_brick.reblog_header .post-info-tumblelogs {
    display: block;
    max-width: none;
    flex-grow: 1;
}

.discover .post_brick.reblog_header .post-info-post-tumblelog-info {
        flex-grow: 1;
    display: flex;
}